<h2 id="aboutPage">About Us</h2>

<div class="container-fluid">
<!--     <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <p class="description">Fare <span class="last">Start</span> is a full stack web application built using Ruby on Rails for General Assembly Seattle.</p>
    </div> -->
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <%= image_tag("jeffers.jpg", class: "img-rounded img-responsive center-block") %>
        <div class="bio">
          <p class="name">Jeffers Baxter</p>
          <a href="https://www.linkedin.com/in/jeffers-baxter-aba84b40" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> &nbsp <a href="https://github.com/jeffersbaxter" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag("brian.jpg", class: "img-rounded img-responsive center-block") %>
        <div class="bio">
          <p class="name">Brian Navaluna</p>
          <a href="https://www.linkedin.com/in/bnavaluna" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> &nbsp <a href="https://github.com/bnavaluna" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag("andy.jpg", class: "img-rounded img-responsive center-block") %>
        <div class="bio">
          <p class="name">Andy Pham</p>
          <a href="https://www.linkedin.com/in/anhvpham9985" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> &nbsp <a href="https://github.com/theking9985" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag("chyi.jpg", class: "img-rounded img-responsive center-block") %>
        <div class="bio">
          <p class="name">Chyi Wang</p>
          <a href="https://www.linkedin.com/in/chyiyenwang" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> &nbsp <a href="https://github.com/chyiyenwang" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    </div>