<h2>How it Works</h2>

<h3>Introduction</h3>
<p>
ParkIt involves searching for available driveways for parking. Whether you are an early morning commuter or just needing a parking space at the last minute, our web application will help you out. 
</p>

<h3>Profile</h3>
<p>
Creating a profile is essential to interact with other alternative parking enthusiasts. Once you create an account, you will be able to see all your personal reservations, hosted properties, and your avaiable properties you provide for parking.  
</p>

<h3>Searching</h3>
<p>
Searching will involve inserting the area you want to find parking, parking space quantity, checkin date, and checkout date. Once you have entered that information, you will see results of places offering parking spaces.
<p>

