// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.color3 {
	color: green;
	background-color: red;
	background: image-url('/seattle.png') center center;

}