// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.results_left {
	// border: 2px red solid;
}

.results_right {
	// border: 2px green solid;
}

.results_row {
	padding: 1em
}

#bus {
	background-color: #40B3DF;
	border: 1px solid #14A7DF;
	color: white;
	font-size: 18px;
}

#route {
	margin-top: -20px;
}

.mapButton {
	border-radius: 5px;
}

#directions {
	margin-top: -10px;
}

/*.bg_id {
	background-image: url("/night_pic.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
*/
.resultsHeader {
	color: white;
}

#content {
	background-color: rgba(245,245,245, 0.7);
}










