



<div class="jumbotron color4">
	<div class="row-fluid">
	    <div class="span12 text-center">
			<h2>Congratulations, you have paid <strong>$10.00</strong> for parking!</h2>
			<h2>Host will expect you soon</h2>
		</div>
	</div>
</div>